<a href="https://colab.research.google.com/github/HASSAN-FAREED/DS-and-ML/blob/master/ToolsForDataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is my Google Colab NoteBook

The below should print Hey from Collab

Data science languages:
1. Python
2. R
3. SQL
4. Java
5. MATLAB
6. Scala

Data science libraries
1. Scikit-learn
2. TensorFlow
3. Theano
4. Pandas
5. NumPy
6. SciPy

Data science tools
1. Tableau
2. Apache Spark
3. MATLAB
4. TensorFlow

Arithmetic Expression examples
$E = mc^2$

In [1]:
#Code to multiply two numbers
Mul = 2 * 2
print(Mul)
#Code to add two numbers
Add = 3 + 2
print(Add)

4
4

In [3]:
#Python code to convert minutes to hours
min = int(input("Enter minutes : "))
print("Hour : Minute : ", int(min/60)," : ", min%60)

Enter minutes : 120
Hour : Minute :  2  :  0

List of Objectives


1.   Objective 1
2.   Objective 2

Hi this is Hassan fareed